<!-- connect to instrument -->
<div class="row controls-row">
  <%= partial 'partials/connect' %>
  <%= partial 'partials/measure' %>
</div>
<script>
  const controls = window.nodeRequire(path.join(root_path, 'controls'));
</script>
