<div class="form-group">
  <label for="display-results">Results display</label>
  <select id="display-results" class="form-control">
    <option value="full">Full summary</option>
    <option value="simple">Simple list</option>
  </select>
</div>
