<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand rs-blue"><%= partial 'partials/rs_text_and_logo' %></span>
    </div>
  </div>
</nav>
