<div class="input-group">
	<input type="text" id="<%= id %>-input" class="form-control" readonly>
	<label class="input-group-btn">
		<button id="<%= id %>-button" class="btn btn-default">
			<span class="glyphicon glyphicon-folder-open"></span>
		</button>
	</label>
</div>
