<div id="results" class="row hide">
	<%= partial 'partials/full_results'   %>
	<%= partial 'partials/simple_results' %>
</div>
<script>
  const results = window.nodeRequire(path.resolve(root_path, 'results-display'));
</script>
