// Right chevron from glyphicons
@mixin right-chevron-list() {
	padding-left: 1.5em;
	li {
		display: block;
	}
	li:before {
		content: "\e080";
		font-family: "Glyphicons Halflings";
		font-size: 0.6em;
		float: left;
		margin-top: 0.3em;
		margin-left: -2.5em;
		color: gray;
	}
}

ul.right-chevron-list {
	@include right-chevron-list;
}

ul.no-bullets {
	list-style: none;
}
