---
title:  middleman-bootstrap
layout: default
---

<div class="main container">
  <%= partial 'partials/controls' %>
  <%= partial 'partials/console' %>
</div>
<div class="container">
  <%= partial 'partials/results' %>
</div>
